<footer class="w-full bg-black mt-20 py-10">
    <div class="px-4 flex flex-col-reverse md:flex-row justify-between items-center max-w-7xl mx-auto">
      <div class="mt-6 md:mt-0">
        <p class="text-white text-center md:text-left">
          80 Smokey Hollow Rd.<br /> 
          Baldwinsville, NY<br />
          (315) 555-5555
        </p>
      </div>
      <div class="flex justify-center md:justify-between gap-4">
        <div>
          <a 
            href="/" 
            class="block border border-gray-900 bg-gray-800 text-white px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-600 hover:text-white md:text-xl font-display"
          >
            Home
          </a>
        </div>
        <div>
          <a 
            href="/menu" 
            class="block border border-gray-900 bg-gray-800 text-white px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-600 hover:text-white md:text-xl font-display"
          >
            Menu
          </a>
        </div>
        <div>
          <a 
            href="/contact" 
            class="block border border-gray-900 bg-gray-800 text-white px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-600 hover:text-white md:text-xl font-display"
          >
            Contact
          </a>
        </div>
      </div>
    </div>
  </footer>