<footer class="w-full bg-black mt-20">
    <div class="px-4 flex justify-between items-center py-10">
        <div>
            <p class="text-white">Footer stuff.</p>
        </div>
            <div class="flex justify-between">
                <div>
        <a href="/" class="block border bg-gray-100 px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-500 hover:text-white">Home</a>
            </div>
            <div>
                <a href="/menu" class="block border bg-gray-100 px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-500 hover:text-white ml-6">Menu</a>
                    </div>
                    <div>
                        <a href="/contact" class="block border bg-gray-100 px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-500 hover:text-white ml-6">Contact</a>
                            </div>
            </div>
        </div>
</footer>