<div class="w-full bg-black">
<nav class="px-4 flex justify-center md:justify-between flex-wrap items-center py-10">
    <div>
        <a href="/"><h1 class="text-white  text-4xl md:text-6xl">7 Days Deli &amp; Grill</h1></a>
    </div>
        <div class="flex justify-between mt-10 md:mt-0">
            <div>
    <a href="/" class="block border border-gray-900 bg-gray-800 text-white px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-600 hover:text-white ml-6 md:text-xl font-display">Home</a>
        </div>
        <div>
            <a href="/menu" class="block border border-gray-900 bg-gray-800 text-white px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-600 hover:text-white ml-6 md:text-xl font-display">Menu</a>
                </div>
                <div>
                    <a href="/contact" class="block border border-gray-900 bg-gray-800 text-white px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-600 hover:text-white ml-6 md:text-xl font-display">Contact</a>
                        </div>
        </div>
</nav>
</div>