<div class="w-full bg-black">
<nav class="px-4 flex justify-between items center py-10">
    <div>
        <h1 class="text-white text-2xl md:text-4xl">Logo</h1></div>
        <div>
    <a href="/" class="block border bg-gray-100 px-2 py-1 text-center text-lg uppercase rounded hover:bg-gray-500 hover:text-white">Home</a>
        </div>
</nav>
</div>