/.env
/.idea
/vendor
/node_modules
.DS_Store

# Craft CMS
/storage/*
/web/cpresources/*



# Craft backups & logs
/storage/backups/*
/storage/logs/*
/storage/runtime/*


# Keep .gitkeep files
!/**/.gitkeep
