@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3 {
    @apply font-display tracking-wider text-indigo-900;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.gm-map {
    height: 640px;
}



