<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>7 Days Deli & Grill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="ltr">
    {% block content %}
{% include "_partials/_nav.twig" %}
<div class=" mx-auto mt-20 px-4 md:px-10 xl:px-40 min-h-screen ">
    <h1 class="text-3xl md:text-4xl lg:text-5xl mb-20 font-medium">7 Days Deli &amp; Grill</h1>
    <div class="prose prose-lg">

        {{ entry.richText }}
    </div>

    {% endblock %}
</div>
    {% include "_partials/_footer.twig" %}
</body>
</html>
