{% include "_partials/_head.twig" %}
    {% block content %}
{% include "_partials/_nav.twig" %}
<div class=" mx-auto mt-20 px-4 md:px-10 xl:px-40 min-h-screen ">

    <div class="prose prose-lg">

        {{ entry.richText }}
    </div>

    {% endblock %}
</div>
    {% include "_partials/_footer.twig" %}
</body>
</html>
