{% include "_partials/_head.twig" %}

{% block content %}
    {% include "_partials/_nav.twig" %}

    <div class="py-32 md:py-60 flex flex-col items-center justify-center"
         style="background-image: url('/assets/deli-sandwich2.webp');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;">
        <div class="text-4xl md:text-5xl text-white font-display"></div>
    </div>

    <div class="mx-auto mt-20 ">
        <div class=" mx-auto">
            <h1 class="text-center font-display font-bold text-6xl md:text-7xl">Open 7 Days</h1>
            <h2 class="text-center font-display font-medium text-4xl md:text-5xl mt-4">7am to 12am</h2>
            <h3 class="text-center font-medium text-3xl md:text-4xl mt-4">80 Smokey Hollow Rd. 
                Baldwinsville, NY 13027</h3>
                <a href="tel:3155555555" ><h3 class="text-center font-medium text-3xl md:text-4xl mt-4 p-2 ">(315) 555-5555</h3></a>
            <div class="flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 md:space-x-4 items-center md:items-start mx-auto my-20 hover:text-black">
                <a 
                  href="#" 
                  class="whitespace-nowrap px-6 py-3 bg-indigo-800 text-white rounded-lg hover:bg-indigo-700 transition-colors duration-200 text-lg font-bold uppercase"
                >
                  Order Now
                </a>
                <a 
                  href="/menu" 
                  class="whitespace-nowrap px-6 py-3 bg-indigo-800 text-white rounded-lg hover:bg-indigo-700 transition-colors duration-200 text-lg font-bold uppercase"
                >
                  Full Menu
                </a>
        </div>
    </div>

    <div class="py-10 mx-auto mt-20  bg-gray-800">
        <div class="px-4 md:px-10 lg:px-10 xl:px-40 mx-auto  py-8 px-2">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {% for block in entry.triptych.all() %}
                    {% for asset in block.image %}
                        <div class="bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300 overflow-hidden flex flex-col h-full">
                            {% if block.image | length %}
                                <img src="{{ asset.url('square') }}"
                                     alt="{{ block.title }}"
                                     class="w-full h-48 object-cover">
                            {% endif %}
                            
                            <div class="p-6 flex flex-col flex-grow">
                                <div class="flex-grow">
                                    <h2 class="text-2xl font-semibold text-gray-800 text-center mb-4">
                                        {{ block.title }}
                                    </h2>
                                    <p class="font-bold text-lg text-gray-600 text-center mb-6 [text-wrap:balance]">
                                        {{ block.blurb }}
                                    </p>
                                </div>
                                <div class="text-center mt-auto">
                                    <a href="/menu">
                                        <button class="px-6 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-700 transition-colors duration-300 mt-10 uppercase font-medium">
                                            Full Menu
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mx-auto mt-20 px-4 md:px-10 xl:px-40">
        <div class="grid md:grid-cols-2">
            <div class="prose prose-lg prose-headings:text-indigo-900">
               Meh, Dunno
            </div>
            <div>
                <div class="relative w-full h-0 pb-[56.25%] lg:pb-[75%]">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23276.849325897474!2d-76.32427465106558!3d43.17579041621055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9e45d09389095%3A0xd66a1d43d9a12aa5!2s80%20Smokey%20Hollow%20Rd%2C%20Baldwinsville%2C%20NY%2013027!5e0!3m2!1sen!2sus!4v1730761994748!5m2!1sen!2sus"
                            class="absolute top-0 left-0 w-full h-full border-0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% include "_partials/_footer.twig" %}
</body>
</html>