<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>7 Days Deli & Grill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="ltr">
    {% block content %}
{% include "_partials/_nav.twig" %}
<div class="max-w-6xl mx-auto min-h-screen mt-20">
    <h1 class="text-5xl font-bold">{{ entry.title }}</h1>
    {# Create an entry query with the 'section' and 'limit' parameters #}
{% set myEntryQuery = craft.entries()
  .section('menuSection')
  .limit(10) %}

{# Fetch the entries #}
{% set entries = myEntryQuery.all() %}

{# Display the entries #}
{% for entry in entries %}


    <h2 class="text-3xl font-bold">{{ entry.title }}</h1>
    {% endfor %}


</div>
    {% endblock %}
</body>
</html>
